.judul {
    text-align: center;
}

.container table, tr, td{
    border-collapse: collapse;
    padding: 10px;
    border: 1px solid black;
    background-color: antiquewhite;
    margin-left: auto;
    margin-right: auto;
}

.apa{
  font-weight: bold;
}

th{
    background-color: aquamarine;
}